span.select2-container {
    margin: 0 .2em;
}

.filters {
    width: 90%;
}

#page-enrol-apsolu-overview .navbar-fixed-top {
    display: none;
}

.apsolu-collapsible,
.apsolu-expandable,
.apsolu-collapse-all {
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 21px;
}

.apsolu-expandable {
    background-image: url([[pix:t/collapsed]]);
}

.apsolu-collapsible {
    background-image: url([[pix:t/expanded]]);
}

.apsolu-collapse-all {
    -webkit-mask-image: url([[pix:t/collapsedchevron_up]]);
    mask-image: url([[pix:t/collapsedchevron_up]]);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--apsolu-color-custom-1); /* ou une couleur fixe, ou une variable CSS */
    height: 24px;
    width: 30px;
}

.apsolu-expand-all {
    -webkit-mask-image: url([[pix:t/expandedchevron]]);
    mask-image: url([[pix:t/expandedchevron]]);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--apsolu-color-custom-1); /* ou une couleur fixe, ou une variable CSS */
    width: 30px;
    height: 24px;
}

.apsolu-toggle-all:hover {
    filter: brightness(0.8);
}

.apsolu-toggle-all {
    display: inline;
}

.apsolu-toggle-all.apsolu-toggle-all-hidden {
    display: none;
}

.tooltip.overview-tooltip {
    --bs-tooltip-bg: var(--apsolu-color-custom-1);
    --bs-tooltip-color: var(--apsolu-color-light);
    --bs-tooltip-font-size: 0.85rem;
    --bs-tooltip-max-width: 200px;
    --bs-tooltip-padding-x: 10px;
    --bs-tooltip-padding-y: 4px;
    --bs-tooltip-border-radius: .5rem;
    --bs-tooltip-opacity: 1;
    font-weight: 600;

    & .tooltip-arrow {
        display: none;
    }
}

.apsolu-loading {
    background-image: url([[pix:i/loading_small]]);
    background-position: center;
    background-repeat: no-repeat;
}

.apsolu-list-rows-div {
    padding: 1em;
    margin: 1em 0;
}

.apsolu-manage-users-tab-li {
    cursor: pointer;
}

.apsolu-sports-description-help-img {
    padding-left: .5em;
}

.apsolu-sports-description {
    display: none;
}

#apsolu-enrol-form,
#page-enrol-select-overview-enrol form {
    background-color: #fff;
    padding: 1.5em;
    border-radius: .5rem;
    min-width: 35%;

    .enrol-popup-header {
        padding: .2rem .5rem .7rem .5rem;
        border-bottom: var(--bs-border-width) solid var(--bs-border-color);
        margin-bottom: 1rem;

        & h5 {
            color: var(--bs-primary);
            margin-bottom: 0;
            line-height: var(--bs-body-line-height);
        }
    }

    & .form-readonly {
        color: var(--bs-body-color);

        & div:has(fieldset) {
            padding-top: calc(0.375rem + var(--bs-border-width));

            & strong {
                text-transform: uppercase;
            }
        }

        & .col-form-label > p {
            font-weight: bold;
            color: var(--bs-body-color);
            font-size: 16px;
        }
    }

    & div:has(input[type="submit"]) {
        margin-top: .25rem;
    }

    & .apsolu-custom-field {
        background-color: var(--apsolu-color-custom-1);
        border-radius: .5rem;
        padding: 0.25rem 1rem;
        font-weight: 600;
        font-size: var(--bs-body-font-size);
    }

    & .frozen div[data-fieldtype='select'] {
        padding-top: calc(0.375rem + var(--bs-border-width));
    }

    & div.checkbox .form-check {
        display: flex;

        & label {
            flex-shrink: 1;
            margin-left: .5rem;
        }
    }
}

#page-enrol-select-overview .help-popover[role="tooltip"] {
    z-index: 100002;
}

#page-enrol-select-overview .block_navigation,
#page-enrol-select-renew .block_navigation {
    display: none;
}

input[type="radio"][name^="renew"] {
    margin-left: 2em;
}

.block_overview_remaining_choices ul {
    margin: 0;
    text-align: justify;
}

/* Solution temporaire en attendant la résolution du bug MDL-85523. */
.apsolu-activities-table tbody th,
.apsolu-activities-table tbody td {
    background-color: var(--bs-table-bg) !important; /* stylelint-disable-line declaration-no-important */
}
/* Fin de la solution temporaire en attendant la résolution du bug MDL-85523. */

.apsolu-table-loading {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.apsolu-activities-table td {
    vertical-align: middle;
}

.apsolu-activities-table dt {
    font-weight: normal;
    text-align: left;
    width: auto;
}

.apsolu-activities-table dt:after {
    content: ' : ';
}

.apsolu-activities-table dd {
    margin-left: 0;
}

.apsolu-activities-table {
    /* Nom de l'activité précédé de l'icône expand / collapse */
    & span.apsolu-sports-th-span {
        padding-left: 1.5rem;
    }
}

.apsolu-format-activities .apsolu-filter-results {
    justify-content: right;
    width: 100%;
    margin-bottom: 1rem;

    .apsolu-filter-info {
        align-items: center;
        margin-right: .75rem;
    }

    & .filter-results-filters {
        flex-direction: row;
        margin: 0 1rem;

        & p {
            display: flex;
            margin-bottom: 0;
        }
    }
    & .filter-active-name {
        color: var(--bs-gray-600);
        font-weight: 600;
    }

    & .filter-results-active,
    .filter-results-inactive,
    .filter-reset {
        margin-bottom: 0;
    }

    & .filter-active-value {
        font-style: italic;
        color: var(--apsolu-color-custom-1);
    }

    & .filter-active-name {
        margin-right: .5rem;
    }

    & .filter-results {
        color: var(--bs-gray-600);
        font-style: italic;
        padding: .25rem;
        border-radius: .5rem;

        & span {
            margin-right: .25rem;
        }
    }

    & .filter-results-active {
        transition: background-color 1s ease;
    }

    & .filter-results-active.highlight {
        background-color: rgba(var(--apsolu-color-custom-1-rgb), 0.5);
        transition: none;
    }

}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

#apsolu-activities-div,
#apsolu-select-remaining-ajax,
#apsolu-wishes-filters {
    animation: 0.4s ease-in-out 0s normal none 1 running fadeIn;
}

#page-enrol-select-overview .moodle-dialogue,
#page-enrol-select-overview .moodle-dialogue-base {
    z-index: 100002;
}

#page-enrol-select-manage form #addselect {
    height: 300px;
}

#page-enrol-select-manage form #adduseroptionsdl {
    margin-top: 1em;
}

#page-enrol-select-edit form select[multiple='multiple'] {
    max-width: 500px;
}

.enrol-select-manage-fieldset-div {
    padding: 1em;
}

.apsolu-inactive-td {
    background-color: #eee;
}

.apsolu-manage-users-tab-ul,
.apsolu-manage-users-locked-form-div,
.apsolu-manage-enrolments-ul,
.apsolu-manage-export-ul {
    margin: 1em 0;
}

#page-enrol-select-manage_move textarea[disabled] {
    background-color: #eee;
    cursor: not-allowed;
}

#page-enrol-select-overview #id_unenrolbutton,
#page-enrol-select-overview-enrol #id_unenrolbutton {
    background-color: #d9534f;
    border-color: #d9534f;
}

#page-enrol-select-overview #id_unenrolbutton:hover,
#page-enrol-select-overview-enrol #id_unenrolbutton:hover {
    background-color: #d23430;
    border-color: #c9302c;
}

#page-admin-enrol-select-administration {
    & #region-main form {
        margin-top: .5rem;

        & .col-form-label {
            padding-top: 0;
        }

        & div[data-fieldtype="text"].align-items-start {
            align-items: center;
        }

        & .info {
            margin: 1rem .5rem 1.5rem;
        }

        & input[type='text'] {
            width: 20ch;
            max-width: 100%;
        }

        & input[type='text'][name*='listname'] {
            width: 50ch;
        }

        & span[class*='in-label default'] {
            font-weight: 500;
        }

        & .text-muted span,
        .text-muted strong {
            font-weight: 700;
            color: var(--apsolu-color-custom-3);
            filter: brightness(0.8);
        }

        & .list-description {
            color: var(--bs-primary);
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }

    }

    .capitalize:first-letter {
        text-transform: capitalize;
    }

    /* Interface de gestion de populations */
    .college-info[open] summary {
        margin-bottom: .5rem;
    }

    details.alert-custom-3 {
        filter: brightness(0.7);
        --bs-alert-color: var(--apsolu-color-custom-3);
        --bs-alert-bg: rgba(var(--apsolu-color-custom-3-rgb), 0.1);
        --bs-alert-border-color: var(--apsolu-color-custom-3);
        --bs-alert-link-color: var(--apsolu-color-custom-3);
    }

    details.college-rules ul,
    details.college-info p,
    details.college-info ul {
        margin-bottom: .15rem;
    }

    td.col-0,
    th.col-0 {
        width: 5% !important; /* stylelint-disable-line declaration-no-important */
    }

    .td-icon {
        cursor: help;

        & img {
            width: 24px;
            height: 20px;
        }
    }

    .edit_rule {
        cursor: pointer;
        & .fa-gear {
            margin-left: .5rem;
        }
    }

    .edit_rule:hover {
        text-decoration-line: underline;
        filter: brightness(1.4);
    }

    #modal-college-programmation {
        & .modal-header h5 {
            color: var(--bs-primary);
        }

        & .modal-body h5 {
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }

        & div[data-groupname="nextdatetime"] .col-form-label p {
            font-weight: 700;
        }

        & div.row:not([data-groupname="nextdatetime"]) {

            & div.col-md-3 {
                width: 40%;
            }

            & div.col-md-9 {
                width: 60%;
            }
        }

        & .btn-danger {
            position: absolute;
            left: 0;
            margin-left: 1.5rem;
        }

        & div[id*='globalerror'] {
            position: absolute;
            top: 85%;
            width: 80%;
        }

    }
}
