{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_select/administration_colleges

    Template Moodle pour afficher la page d'administration des populations.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * colleges
        * id
        * name
        * rolename
        * maxwish
        * minregister
        * maxregister
        * members
        * daterule
        * hasrule
        * dateruledate
    * count_colleges
    * count_unused_cohorts
    * unused_cohorts
    * count_rules
    * college_rules
        * isfirst
        * date
        * collegelist
            * taskid
            * population
            * maxwish
            * minregister
            * maxregister

    Example context (json):
    {
        "wwwroot": "",
        "colleges": [],
        "count_colleges": 0,
        "count_unused_cohorts": 0,
        "unused_cohorts" : [],
        "count_rules": 0,
        "college_rules" : []
    }
}}

<p class="text-end"><a href="{{ wwwroot }}/enrol/select/administration.php?tab=colleges&action=edit&id=0" class="btn btn-primary">{{#str}}create_new_college, enrol_select{{/str}}</a></p>

{{#count_unused_cohorts}}
<details class="alert alert-info college-info">
    <summary>Informations supplémentaires</summary>
    <p>Ces cohortes ne sont actuellement pas utilisées dans les populations :</p>
    <ul>
        {{#unused_cohorts}}
        <li>{{ name }}</li>
        {{/unused_cohorts}}
    </ul>
</details>
{{/count_unused_cohorts}}

{{#count_colleges}}
<table class="table table-striped">
    <tr>
        <th class='col-2'>Nom de la population</th>
        <th class='col-2'>{{#str}}roles{{/str}}</th>
        {{#count_rules}}<th class='col-0'>{{#str}}next_change, enrol_select{{/str}}</th>{{/count_rules}}
        <th class='col-1'>{{#str}}maximum_wishes, enrol_select{{/str}}</th>
        <th class='col-1'>{{#str}}minimum_enrolments, enrol_select{{/str}}</th>
        <th class='col-1'>{{#str}}maximum_enrolments, enrol_select{{/str}}</th>
        <th class='col-2'>{{#str}}cohorts, cohort{{/str}}</th>
        <th class='col-2'>{{#str}}actions{{/str}}</th>
    </tr>
    {{#colleges}}
    <tr>
        <td>{{ name }}</td>
        <td>{{ rolename }}</td>
        {{#count_rules}}<td>
        {{#hasrule}}
        <a href="#{{dateruledate}}" class="apsolu-daterule" title="{{{daterule}}}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="collegerule-tooltip">
        <i class="icon fa fa-clock-rotate-left fa-fw"></i>{{#userdate}}{{dateruledate}}, {{#str}}strftimeabbrday, local_apsolu{{/str}}{{/userdate}}</a>
        {{/hasrule}}
        </td>{{/count_rules}}
        <td>{{ maxwish }}</td>
        <td>{{ minregister }}</td>
        <td>{{ maxregister }}</td>
        <td>{{{ members }}}</td>
        <td>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="{{wwwroot}}/enrol/select/administration.php?tab=colleges&action=edit&id={{id}}">{{#pix}}t/edit,core,{{#str}}edit{{/str}}{{/pix}}</a></li>    
				<li class="list-inline-item"><a href="{{wwwroot}}/enrol/select/administration.php?tab=colleges&action=delete&id={{id}}">{{#pix}}t/delete,core,{{#str}}delete{{/str}}{{/pix}}</a></li>
			</ul>
        </td>
    </tr>
    {{/colleges}}
</table>
{{/count_colleges}}

{{#count_rules}}
    {{#college_rules}}
    <details class="alert alert-custom-3 college-rules">
        {{#isfirst}}
            <summary id={{id}}>{{#str}}next_changes, enrol_select{{/str}} : <strong>{{date}}</strong></summary>
        {{/isfirst}}
        {{^isfirst}}
            <summary id={{id}}>{{#str}}other_planned_changes, enrol_select{{/str}} : <strong>{{date}}</strong></summary>
        {{/isfirst}}
        {{> enrol_select/administration_college_rule }}
    </details>
     {{/college_rules}}
{{/count_rules}}

<p class="text-end"><a href="" id="add_rule" class="btn btn-custom-3">{{#pix}}e/restore_last_draft,core{{/pix}}{{#str}}add_rule, enrol_select{{/str}}</a></p>



